body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.game-container {
    position: relative;
    width: 800px; /* 너비 설정 */
    height: 450px; /* 16:9 비율에 맞춘 높이 */
    overflow: hidden;
    background-color: #ece899;
}

.background {
    position: absolute;
    width: 800px; /* game-container와 동일한 너비 */
    height: 450px; /* game-container와 동일한 높이 */
    background-image: url('beach.png'); /* 해변가 느낌의 배경 이미지 사용 */
    background-size: cover;
}

#background1 {
    left: 0;
    z-index: 0; /* 배경이 가장 뒤에 있도록 설정 */
}

#background2 {
    left: 800px; /* 두 번째 배경은 첫 번째 배경의 오른쪽에 위치 */
    z-index: 0; /* 배경이 가장 뒤에 있도록 설정 */
}

.player {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 50px;
    height: 50px;
    z-index: 1; /* 플레이어가 배경 위에 있도록 설정 */
}

.obstacle {
    position: absolute;
    bottom: 0;
    right: -50px;
    height: 50px;
    animation: moveObstacle linear infinite;
    z-index: 1; /* 장애물이 플레이어와 배경 위에 있도록 설정 */
}

#jump-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    background-color: #ff6347;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10; /* 버튼이 다른 요소 위에 있도록 설정 */
}

@keyframes moveObstacle {
    0% {
        right: -50px;
    }
    100% {
        right: 100%;
    }
}

.score-board {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ffffff;
    background-color: #d9534f; /* 붉은색 계열 */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
    z-index: 10; /* 점수판이 다른 요소 위에 있도록 설정 */
}

.score-board span {
    font-weight: bold;
    color: #ffffff;
}
